﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <h4>Segundo Examen Parcial</h4>
    <h4>Carnet: 2016CI601   Nombre> Carlos Francisco Cornejo Interiano</h4>
    
</div>
